*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.signup__input{
    border-width: 1px !important;
    border-radius: 2px !important;
}
.signup__label{
    font-weight: 300 !important;
    pointer-events: none !important;
}
.submit-btn{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border: 1.5px solid white;
}
.submit-btn:active, .submit-btn:focus{
    border: 1.5px solid rgb(29, 29, 29);
    border-radius: 2px !important;
}














.form-container{
  width: 923px;
  position: relative;
  background-color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, .15);
  background-color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  margin-top: 0;
}
.form-container2{
  border: 2px dashed #0CA678;
  position: relative;
}
.form-container2-title{
  font-size: 24px;
  font-family: Playfair Display;
  color:  #0CA678;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 255px;
  padding: 10px;
  position: absolute;
  top: -25px;
  left: 2%;
}
.signup__field {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-left: 0% !important;
}

.signup__field:before {
  content: "";
  position: relative;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__input {
  width: 100%;
  color: #bdbdbd;
  height: 100%;
  font-size: 1.2rem;
  padding: 7px 5px;
  line-height: 20px;
  outline: none;
  background: transparent;
  border: 2px solid rgba(104, 104, 104, 0.3);
}

.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.signup__input:focus,  .signup__input:valid{
  border-color: #0CA678;
  transition: all 0.3s ease;
}
.signup__input:focus ~ .signup__label,
 .signup__input:valid ~ .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
  color: #0CA678;
  transition: all 0.3s ease;

}
.uploder-icon{
  width: 50px;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  pointer-events: none;
  }
.fileup{
  padding: 15px;
}
.uploader-sec{
  height: 200px !important;
  background-color: #10c08b !important;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.loadfile{
  display: block;
  height: 170px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #0CA678 !important;
  border: 2px dashed   #037452;
  padding-left: 43.5% !important;
  padding-top: 90px;
  cursor: pointer;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.uploader-sec:hover .loadfile{
    transform: scale(.98) !important;
    background-color: #09946a67 !important;
    transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}








.loadfile:focus{
  outline: none;
}
.choosefilesec{
  position: relative;
}
#file-upload-button{
 
}
.loadfilelabel{
    display: inline-block;
    background-color: rgb(252, 252, 252);
    color:#0CA678;
    padding: 0.5rem .6rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
}
#file-chosen{
  color: rgb(206, 206, 206);
  position: absolute;
  top: 74%;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;

}
.submit-btn{
  outline: none;
  border: none;
  color: rgb(231, 231, 231);
  background: linear-gradient(to top,#0CA678, #0CA678);
  transition: all 0.3s ease;
  margin-bottom: 25px;
  font-family: Playfair Display;
}
.submit-btn:hover{
  background: linear-gradient(to top,#0CA678,#0CA678);
  transition: all 0.3s ease;
}
