*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.form-container{
  width: 923px;
  position: relative;
  background-color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, .15);
  background-color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  margin-top: 0;
}
.form-container2{
  border: 2px dashed rgba(9, 116, 51, 1);
  position: relative;
}
.form-container2-title{
  font-size: 24px;
  font-family: Playfair Display;
  color:  rgba(9, 116, 51, 1);
  background-color: rgb(255, 255, 255);
  display: block;
  width: 255px;
  padding: 10px;
  position: absolute;
  top: -25px;
  left: 2%;
}
.signup__field {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-left: 0% !important;
}

.signup__field:before {
  content: "";
  position: relative;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__input {
  width: 100%;
  color: #bdbdbd;
  height: 100%;
  font-size: 1.2rem;
  padding: 7px 5px;
  line-height: 20px;
  outline: none;
  background: transparent;
  border: 2px solid rgba(104, 104, 104, 0.3);
}

.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.signup__input:focus,  .signup__input:valid{
  border-color: rgb(5, 95, 41);
  transition: all 0.3s ease;
}
.signup__input:focus ~ .signup__label,
 .signup__input:valid ~ .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
  color: rgb(5, 95, 41);
  transition: all 0.3s ease;

}
.uploder-icon{
  width: 50px;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  pointer-events: none;
  }
.fileup{
  padding: 15px;
}
.uploader-sec{
  height: 200px !important;
  background-color: rgb(9, 143, 63) !important;
}
.loadfile{
  display: block;
  height: 170px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(8, 124, 55) !important;
  border: 2px dashed  rgb(5, 95, 41);
  padding-left: 43.5% !important;
  padding-top: 90px;
  cursor: pointer;

}
.loadfile:focus{
  outline: none;
}
.choosefilesec{
  position: relative;
}
#file-upload-button{
 
}
.loadfilelabel{
    display: inline-block;
    background-color: rgb(252, 252, 252);
    color:rgb(5, 95, 41);
    padding: 0.5rem .6rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
}
#file-chosen{
  color: rgb(206, 206, 206);
  position: absolute;
  top: 74%;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;

}
.submit-btn{
  outline: none;
  border: none;
  color: rgb(231, 231, 231);
  background: linear-gradient(to top,rgb(8, 124, 55), rgb(9, 143, 63));
  transition: all 0.3s ease;
  margin-bottom: 25px;
  font-family: Playfair Display;
}
.submit-btn:hover{
  background: linear-gradient(to top,rgb(9, 143, 63),rgb(8, 124, 55));
  transition: all 0.3s ease;
}